@charset "utf-8";


* { outline:0; }







a{



    color: #27D;



    text-decoration: none;



}



a:focus, a:hover, a:active {



    text-decoration: underline;



}



p, li {



    line-height: 1.8em;



}



h1, h2 {



    font-family: "Trebuchet MS", Verdana, sans-serif;



    margin: 0;



}



h1 {
	margin-bottom: 10px;
	padding: 0;
	font-size:3em;
	color: #333;
	letter-spacing:-1px;
	font-family: "Trebuchet MS", Verdana;


}



h2 {
	padding-top: 10px;
	font-size:2em;
	letter-spacing:-1px;
	font-family: "Trebuchet MS", Verdana;


}



pre {
	font-size: 1.2em;
	line-height: 1.2em;
	font-family: "Trebuchet MS", Verdana;


}



div#page {



    width: 630px;



    background-color: #fff;



    margin: 0 auto;



    text-align: left;



}



div#container {



    padding: 5px;



}







div.content {
	/* The display of content is enabled by a javascript generated style on the page.



       This is so that the slideshow content won't display unless javascript is enabled. */



    display: none;
	float:right;
	width:620px;
	font-family: "Trebuchet MS", Verdana;
}



div.content a, div.navigation a {
	text-decoration: none;
	color: #777;
	font-family: "Trebuchet MS", Verdana;


}



div.content  a:focus, div.content  a:hover, div.content  a:active {
	text-decoration: underline;
	font-family: "Trebuchet MS", Verdana;


}



div.controls {



    margin-top: 3px;



    height: 25px;



}



div.controls a {



    padding:3px;



}



div.ss-controls {



    float: left;



}



div.nav-controls {



    float: right;



}







div.loader {



    background-image: url('/images/carregando.gif');



    background-repeat: no-repeat;



    background-position: center;



    width: 480px;



    height: 480px



}



div.slideshow {



    clear: both;



}



div.slideshow span.image-wrapper {



    float: left;



    padding-bottom: 6px;



}



div.slideshow a.advance-link {
	padding: 4px;
	display: block;
	border: 1px solid #ccc;
	font-family: "Trebuchet MS", Verdana;


}



div.slideshow img {



    border: none;



    display: block;



}



div.download {



    float: right;



}



div.embox {



    clear: both;



    /*border: 1px solid #ccc;



    background-color: #eee;*/



    padding: 7px;



}



div.image-title {
	font-weight: bold;
	font-size: 1.4em;
	font-family: "Trebuchet MS", Verdana;


}







div.image-desc {



    line-height: 1.3em;



    padding-top: 7px;



}



div.navigation {
	font-family: "Trebuchet MS", Verdana;


    /* The navigation style is set by a javascript generated style on the page.



       This is so that the javascript specific styles won't be applied unless javascript is enabled. */



}



ul.thumbs {



    clear: both;



    margin: 0;



    padding: 0;



}



ul.thumbs li {



    float: left;



    padding: 0;



    margin: 5px 5px 5px 0;



    list-style: none;



}



a.thumb {



    padding: 2px;



    display: block;



    border: 1px solid #ccc;



}



ul.thumbs li.selected a.thumb {
	background: #FF3399;

}



a.thumb:focus {



    outline: none;



}



ul.thumbs img {



    border: none;



    display: block;



}



div.pagination {



    clear: both;



}



div.navigation div.top {



    margin-bottom: 12px;



    height: 11px;



}



div.navigation div.bottom {



    margin-top: 12px;



}



div.pagination a, div.pagination span.current {
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 5px 2px 5px;
	border: 1px solid #ccc;
	font-family: "Trebuchet MS", Verdana;


}



div.pagination a:hover {
	background-color: #000000;
	text-decoration: none;
	font-family: "Trebuchet MS", Verdana;
	color: #FFFFFF;


}



div.pagination span.current {
	font-weight: bold;
	background-color:#FF3399;
	border-color: #FF3399;
	color: #FFFFFF;
}







/* Minimal Gallery Styles */



#thumbs-min ul.thumbs li {



    float: none;



    padding: 0;



    margin: 0;



    list-style: none;



}







#thumbs-min a.thumb {



    padding: 0px;



    display: inline;



    border: none;



}







#thumbs-min ul.thumbs li.selected a.thumb {



    background: inherit;



    color: #000;



    font-weight: bold;



}



