.fb-like{
  height:18px !important;
  margin-bottom:-2px !important;
  margin-left:-53px !important;
}

#simple-menu li a{ padding:0 15px 0 18px !important; }

.form-busca-topo{
  margin:-4px 0 0 -150px !important;
  position:absolute;
  top:164px;
  line-height:25px !important;
}

.campo-busca-topo{
  margin-left:-85px !important;
  position:absolute;
}

.botao-busca-topo{
  margin-left:170px !important;
  margin-top:2px !important;
  position:absolute;
}

.campo-busca-rodape{
  margin:-7px 0 0 -103px !important;
  position:absolute;
  width:270px !important;
  height:20px !important;
  line-height:23px !important;
}

.botao-busca-rodape{
  position:absolute;
  margin:-1px 0 0 152px !important;
}

.chamadas_blog{
  margin-top:20px !important;
}

.filmes-em-cartaz{
  margin-top:-50px !important;
}

.fatos-e-fotos{
  margin-top:-20px !important;
}

.chamadas_blog1{
  margin-top:45px !important;
}